* {
    -webkit-tap-highlight-color: transparent;
}

html {
    margin: auto;
}

body {
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    height: 100dvh;
}

.video-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
    padding: 0;
}

.video {
    width: 100%;
    height: 100%;
}